header {
    display: flex;
    padding: 20px;
    justify-content: center;
    /* sticky header (make it not move when scroll) */
    /* credit:https://www.w3schools.com/howto/howto_js_sticky_header.asp  */
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: rgb(0, 0, 0, 0.4);
    color: #f1f1f1;
    z-index: 1000;

}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 10px;
    /* credit: CDN fonts */
    font-family: 'Public Pixel', sans-serif;

    /* credit: https://cssgradient.io/ */
    background: #2a2c9b;
    background: linear-gradient(90deg, rgba(42, 44, 155, 0.97) 0%, rgba(204, 202, 188, 1) 100%);

    color: beige;
    /* credit: https://html-css-js.com/css/generator/text-shadow/ */
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);

    nav ul {
        padding: 0;
        margin: 0;
        display: flex;
        gap: 20px;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

input,
textarea,
button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px rgba(0, 0, 0, 0, 1);
}

.projects-flex {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    font-size: 8px;
    flex: 0 0 45%;
    display: flex;
    border: 1px solid #ccc;
    padding: 20px;
    background: rgb(106, 102, 108);
    border-radius: 8px;
    text-align: center;
    min-height: 150px;
    flex-direction: column;
    justify-content: center;
    /* transition idea from: https://www.w3schools.com/css/css3_transitions.asp */
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}


.footer {
    width: 100%;
    background-color: #232121;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

footer a {
    margin: 0.10px;
}

footer i {
    font-size: 30px;
    margin: 0 15px;
    justify-content: center;
    align-items: center;


}

.myLogo {
    width: 120px;
    height: 120px;
    border-radius: 20%;
    border: 3px solid rgb(61, 58, 58);
    object-fit: cover;
    display: block;
    margin: 0 auto;

}

/* From Uiverse.io by ZacharyCrespin */
button {
    transition: all 0.5s;
    font-size: 12px;
    padding: 1ch 2ch;
    background-color: white;
    color: #000;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    box-shadow:
        2px 2px 0px hsl(0, 0%, 90%),
        4px 4px 0px hsl(0, 0%, 80%),
        6px 6px 0px hsl(0, 0%, 70%),
        8px 8px 0px hsl(0, 0%, 60%),
        10px 10px 0px hsl(0, 0%, 50%),
        12px 12px 0px hsl(0, 0%, 40%),
        14px 14px 0px hsl(0, 0%, 30%),
        16px 16px 0px hsl(0, 0%, 20%),
        18px 18px 0px hsl(0, 0%, 10%);
}

button:hover {
    background-color: #9769b0;
    box-shadow: none;
}

#myInfo {
    margin-top: 10px;
    padding: 10px;
    background: #9769b0;
    border-radius: 5px;
}

.hidden {
    display: none;
}

/* the GIF */
#contact {
    position: relative;
}

#silksonicGIF {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 150px;
    height: auto;
}

